Distributed_programming/ArchivioMuseiWSClient/src/conf/xml-resources/web-service-references/MuseumEJB/wsdl/localhost_8080/MuseumEJBService/MuseumEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://business.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://business.server/" name="MuseumEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://business.server/" schemaLocation="http://localhost:8080/MuseumEJBService/MuseumEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="addMuseum">
<part name="parameters" element="tns:addMuseum"/>
</message>
<message name="addMuseumResponse">
<part name="parameters" element="tns:addMuseumResponse"/>
</message>
<message name="removeMuseum">
<part name="parameters" element="tns:removeMuseum"/>
</message>
<message name="removeMuseumResponse">
<part name="parameters" element="tns:removeMuseumResponse"/>
</message>
<message name="updateMuseum">
<part name="parameters" element="tns:updateMuseum"/>
</message>
<message name="updateMuseumResponse">
<part name="parameters" element="tns:updateMuseumResponse"/>
</message>
<message name="findByRegion">
<part name="parameters" element="tns:findByRegion"/>
</message>
<message name="findByRegionResponse">
<part name="parameters" element="tns:findByRegionResponse"/>
</message>
<portType name="MuseumEJB">
<operation name="findAll">
<input wsam:Action="http://business.server/MuseumEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://business.server/MuseumEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://business.server/MuseumEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://business.server/MuseumEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="addMuseum">
<input wsam:Action="http://business.server/MuseumEJB/addMuseumRequest" message="tns:addMuseum"/>
<output wsam:Action="http://business.server/MuseumEJB/addMuseumResponse" message="tns:addMuseumResponse"/>
</operation>
<operation name="removeMuseum">
<input wsam:Action="http://business.server/MuseumEJB/removeMuseumRequest" message="tns:removeMuseum"/>
<output wsam:Action="http://business.server/MuseumEJB/removeMuseumResponse" message="tns:removeMuseumResponse"/>
</operation>
<operation name="updateMuseum">
<input wsam:Action="http://business.server/MuseumEJB/updateMuseumRequest" message="tns:updateMuseum"/>
<output wsam:Action="http://business.server/MuseumEJB/updateMuseumResponse" message="tns:updateMuseumResponse"/>
</operation>
<operation name="findByRegion">
<input wsam:Action="http://business.server/MuseumEJB/findByRegionRequest" message="tns:findByRegion"/>
<output wsam:Action="http://business.server/MuseumEJB/findByRegionResponse" message="tns:findByRegionResponse"/>
</operation>
</portType>
<binding name="MuseumEJBPortBinding" type="tns:MuseumEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMuseum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMuseum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMuseum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MuseumEJBService">
<port name="MuseumEJBPort" binding="tns:MuseumEJBPortBinding">
<soap:address location="http://localhost:8080/MuseumEJBService/MuseumEJB"/>
</port>
</service>
</definitions>