Distributed_programming/ArchivioCanzoniWSClient/src/conf/xml-resources/web-service-references/CanzoneEJB/wsdl/localhost_8080/CanzoneEJBService/CanzoneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bussiness.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bussiness.server/" name="CanzoneEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://bussiness.server/" schemaLocation="http://localhost:8080/CanzoneEJBService/CanzoneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="addCanzone">
<part name="parameters" element="tns:addCanzone"/>
</message>
<message name="addCanzoneResponse">
<part name="parameters" element="tns:addCanzoneResponse"/>
</message>
<message name="removeCanzone">
<part name="parameters" element="tns:removeCanzone"/>
</message>
<message name="removeCanzoneResponse">
<part name="parameters" element="tns:removeCanzoneResponse"/>
</message>
<message name="updateCanzone">
<part name="parameters" element="tns:updateCanzone"/>
</message>
<message name="updateCanzoneResponse">
<part name="parameters" element="tns:updateCanzoneResponse"/>
</message>
<message name="findByCat">
<part name="parameters" element="tns:findByCat"/>
</message>
<message name="findByCatResponse">
<part name="parameters" element="tns:findByCatResponse"/>
</message>
<message name="findByVotes">
<part name="parameters" element="tns:findByVotes"/>
</message>
<message name="findByVotesResponse">
<part name="parameters" element="tns:findByVotesResponse"/>
</message>
<portType name="CanzoneEJB">
<operation name="findAll">
<input wsam:Action="http://bussiness.server/CanzoneEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://bussiness.server/CanzoneEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="addCanzone">
<input wsam:Action="http://bussiness.server/CanzoneEJB/addCanzoneRequest" message="tns:addCanzone"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/addCanzoneResponse" message="tns:addCanzoneResponse"/>
</operation>
<operation name="removeCanzone">
<input wsam:Action="http://bussiness.server/CanzoneEJB/removeCanzoneRequest" message="tns:removeCanzone"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/removeCanzoneResponse" message="tns:removeCanzoneResponse"/>
</operation>
<operation name="updateCanzone">
<input wsam:Action="http://bussiness.server/CanzoneEJB/updateCanzoneRequest" message="tns:updateCanzone"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/updateCanzoneResponse" message="tns:updateCanzoneResponse"/>
</operation>
<operation name="findByCat">
<input wsam:Action="http://bussiness.server/CanzoneEJB/findByCatRequest" message="tns:findByCat"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/findByCatResponse" message="tns:findByCatResponse"/>
</operation>
<operation name="findByVotes">
<input wsam:Action="http://bussiness.server/CanzoneEJB/findByVotesRequest" message="tns:findByVotes"/>
<output wsam:Action="http://bussiness.server/CanzoneEJB/findByVotesResponse" message="tns:findByVotesResponse"/>
</operation>
</portType>
<binding name="CanzoneEJBPortBinding" type="tns:CanzoneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByVotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CanzoneEJBService">
<port name="CanzoneEJBPort" binding="tns:CanzoneEJBPortBinding">
<soap:address location="http://localhost:8080/CanzoneEJBService/CanzoneEJB"/>
</port>
</service>
</definitions>