Distributed_programming/ArchivioGelatoWSClient/src/conf/xml-resources/web-service-references/GelatoEJB/wsdl/localhost_8080/GelatoEJBService/GelatoEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://bussiness.server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bussiness.server/">

<xs:element name="addGelato" type="tns:addGelato"/>

<xs:element name="addGelatoResponse" type="tns:addGelatoResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findByName" type="tns:findByName"/>

<xs:element name="findByNameResponse" type="tns:findByNameResponse"/>

<xs:element name="findByPrice" type="tns:findByPrice"/>

<xs:element name="findByPriceResponse" type="tns:findByPriceResponse"/>

<xs:element name="gelato" type="tns:gelato"/>

<xs:element name="removeGelato" type="tns:removeGelato"/>

<xs:element name="removeGelatoResponse" type="tns:removeGelatoResponse"/>

<xs:element name="updateGelato" type="tns:updateGelato"/>

<xs:element name="updateGelatoResponse" type="tns:updateGelatoResponse"/>

<xs:complexType name="findByPrice">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByPriceResponse">
<xs:sequence>
<xs:element name="return" type="tns:gelato" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gelato">
<xs:sequence>
<xs:element name="calorie" type="xs:int"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="prezzo" type="xs:int"/>
<xs:element name="ricetta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGelato">
<xs:sequence>
<xs:element name="arg0" type="tns:gelato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGelatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeGelato">
<xs:sequence>
<xs:element name="arg0" type="tns:gelato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeGelatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGelato">
<xs:sequence>
<xs:element name="arg0" type="tns:gelato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGelatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:gelato" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:gelato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>