Distributed_programming/ArchivioFornitoreWSClient/src/conf/xml-resources/web-service-references/FornitoreEJB/wsdl/localhost_8080/FornitoreEJBService/FornitoreEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://businness.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://businness.server/" name="FornitoreEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://businness.server/" schemaLocation="http://localhost:8080/FornitoreEJBService/FornitoreEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="addFornitore">
<part name="parameters" element="tns:addFornitore"/>
</message>
<message name="addFornitoreResponse">
<part name="parameters" element="tns:addFornitoreResponse"/>
</message>
<message name="removeFornitore">
<part name="parameters" element="tns:removeFornitore"/>
</message>
<message name="removeFornitoreResponse">
<part name="parameters" element="tns:removeFornitoreResponse"/>
</message>
<message name="findBySurname">
<part name="parameters" element="tns:findBySurname"/>
</message>
<message name="findBySurnameResponse">
<part name="parameters" element="tns:findBySurnameResponse"/>
</message>
<message name="findByMaxOrd">
<part name="parameters" element="tns:findByMaxOrd"/>
</message>
<message name="findByMaxOrdResponse">
<part name="parameters" element="tns:findByMaxOrdResponse"/>
</message>
<message name="updateFornitore">
<part name="parameters" element="tns:updateFornitore"/>
</message>
<message name="updateFornitoreResponse">
<part name="parameters" element="tns:updateFornitoreResponse"/>
</message>
<portType name="FornitoreEJB">
<operation name="findAll">
<input wsam:Action="http://businness.server/FornitoreEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://businness.server/FornitoreEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://businness.server/FornitoreEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://businness.server/FornitoreEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="addFornitore">
<input wsam:Action="http://businness.server/FornitoreEJB/addFornitoreRequest" message="tns:addFornitore"/>
<output wsam:Action="http://businness.server/FornitoreEJB/addFornitoreResponse" message="tns:addFornitoreResponse"/>
</operation>
<operation name="removeFornitore">
<input wsam:Action="http://businness.server/FornitoreEJB/removeFornitoreRequest" message="tns:removeFornitore"/>
<output wsam:Action="http://businness.server/FornitoreEJB/removeFornitoreResponse" message="tns:removeFornitoreResponse"/>
</operation>
<operation name="findBySurname">
<input wsam:Action="http://businness.server/FornitoreEJB/findBySurnameRequest" message="tns:findBySurname"/>
<output wsam:Action="http://businness.server/FornitoreEJB/findBySurnameResponse" message="tns:findBySurnameResponse"/>
</operation>
<operation name="findByMaxOrd">
<input wsam:Action="http://businness.server/FornitoreEJB/findByMaxOrdRequest" message="tns:findByMaxOrd"/>
<output wsam:Action="http://businness.server/FornitoreEJB/findByMaxOrdResponse" message="tns:findByMaxOrdResponse"/>
</operation>
<operation name="updateFornitore">
<input wsam:Action="http://businness.server/FornitoreEJB/updateFornitoreRequest" message="tns:updateFornitore"/>
<output wsam:Action="http://businness.server/FornitoreEJB/updateFornitoreResponse" message="tns:updateFornitoreResponse"/>
</operation>
</portType>
<binding name="FornitoreEJBPortBinding" type="tns:FornitoreEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFornitore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeFornitore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findBySurname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByMaxOrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateFornitore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FornitoreEJBService">
<port name="FornitoreEJBPort" binding="tns:FornitoreEJBPortBinding">
<soap:address location="http://localhost:8080/FornitoreEJBService/FornitoreEJB"/>
</port>
</service>
</definitions>