ArchivioGelatoWSClient/src/conf/xml-resources/web-service-references/GelatoEJB/wsdl/localhost_8080/GelatoEJBService/GelatoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bussiness.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bussiness.server/" name="GelatoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://bussiness.server/" schemaLocation="http://localhost:8080/GelatoEJBService/GelatoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="addGelato">
<part name="parameters" element="tns:addGelato"/>
</message>
<message name="addGelatoResponse">
<part name="parameters" element="tns:addGelatoResponse"/>
</message>
<message name="removeGelato">
<part name="parameters" element="tns:removeGelato"/>
</message>
<message name="removeGelatoResponse">
<part name="parameters" element="tns:removeGelatoResponse"/>
</message>
<message name="updateGelato">
<part name="parameters" element="tns:updateGelato"/>
</message>
<message name="updateGelatoResponse">
<part name="parameters" element="tns:updateGelatoResponse"/>
</message>
<message name="findByPrice">
<part name="parameters" element="tns:findByPrice"/>
</message>
<message name="findByPriceResponse">
<part name="parameters" element="tns:findByPriceResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findByName">
<part name="parameters" element="tns:findByName"/>
</message>
<message name="findByNameResponse">
<part name="parameters" element="tns:findByNameResponse"/>
</message>
<portType name="GelatoEJB">
<operation name="addGelato">
<input wsam:Action="http://bussiness.server/GelatoEJB/addGelatoRequest" message="tns:addGelato"/>
<output wsam:Action="http://bussiness.server/GelatoEJB/addGelatoResponse" message="tns:addGelatoResponse"/>
</operation>
<operation name="removeGelato">
<input wsam:Action="http://bussiness.server/GelatoEJB/removeGelatoRequest" message="tns:removeGelato"/>
<output wsam:Action="http://bussiness.server/GelatoEJB/removeGelatoResponse" message="tns:removeGelatoResponse"/>
</operation>
<operation name="updateGelato">
<input wsam:Action="http://bussiness.server/GelatoEJB/updateGelatoRequest" message="tns:updateGelato"/>
<output wsam:Action="http://bussiness.server/GelatoEJB/updateGelatoResponse" message="tns:updateGelatoResponse"/>
</operation>
<operation name="findByPrice">
<input wsam:Action="http://bussiness.server/GelatoEJB/findByPriceRequest" message="tns:findByPrice"/>
<output wsam:Action="http://bussiness.server/GelatoEJB/findByPriceResponse" message="tns:findByPriceResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://bussiness.server/GelatoEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://bussiness.server/GelatoEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findByName">
<input wsam:Action="http://bussiness.server/GelatoEJB/findByNameRequest" message="tns:findByName"/>
<output wsam:Action="http://bussiness.server/GelatoEJB/findByNameResponse" message="tns:findByNameResponse"/>
</operation>
</portType>
<binding name="GelatoEJBPortBinding" type="tns:GelatoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addGelato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeGelato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateGelato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GelatoEJBService">
<port name="GelatoEJBPort" binding="tns:GelatoEJBPortBinding">
<soap:address location="http://localhost:8080/GelatoEJBService/GelatoEJB"/>
</port>
</service>
</definitions>