ArchivioCDWSClient/src/conf/xml-resources/web-service-references/CDBeanEJB/wsdl/localhost_8080/CDBeanEJBService/CDBeanEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="addCD" type="tns:addCD"/>

<xs:element name="addCDResponse" type="tns:addCDResponse"/>

<xs:element name="cdBean" type="tns:cdBean"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="removeCD" type="tns:removeCD"/>

<xs:element name="removeCDResponse" type="tns:removeCDResponse"/>

<xs:element name="updateCD" type="tns:updateCD"/>

<xs:element name="updateCDResponse" type="tns:updateCDResponse"/>

<xs:complexType name="removeCD">
<xs:sequence>
<xs:element name="arg0" type="tns:cdBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cdBean">
<xs:sequence>
<xs:element name="autore" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="prezzo" type="xs:int" minOccurs="0"/>
<xs:element name="titolo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:cdBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCD">
<xs:sequence>
<xs:element name="arg0" type="tns:cdBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:cdBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCD">
<xs:sequence>
<xs:element name="arg0" type="tns:cdBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCDResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>