ArchivioPezziClientWS/src/conf/xml-resources/web-service-references/PezzoEJB/wsdl/localhost_8080/PezzoEJBService/PezzoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bussiness.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bussiness.server/" name="PezzoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://bussiness.server/" schemaLocation="http://localhost:8080/PezzoEJBService/PezzoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="addPezzo">
<part name="parameters" element="tns:addPezzo"/>
</message>
<message name="addPezzoResponse">
<part name="parameters" element="tns:addPezzoResponse"/>
</message>
<message name="removePezzo">
<part name="parameters" element="tns:removePezzo"/>
</message>
<message name="removePezzoResponse">
<part name="parameters" element="tns:removePezzoResponse"/>
</message>
<message name="updatePezzo">
<part name="parameters" element="tns:updatePezzo"/>
</message>
<message name="updatePezzoResponse">
<part name="parameters" element="tns:updatePezzoResponse"/>
</message>
<message name="findByCategory">
<part name="parameters" element="tns:findByCategory"/>
</message>
<message name="findByCategoryResponse">
<part name="parameters" element="tns:findByCategoryResponse"/>
</message>
<portType name="PezzoEJB">
<operation name="findById">
<input wsam:Action="http://bussiness.server/PezzoEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://bussiness.server/PezzoEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://bussiness.server/PezzoEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://bussiness.server/PezzoEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="addPezzo">
<input wsam:Action="http://bussiness.server/PezzoEJB/addPezzoRequest" message="tns:addPezzo"/>
<output wsam:Action="http://bussiness.server/PezzoEJB/addPezzoResponse" message="tns:addPezzoResponse"/>
</operation>
<operation name="removePezzo">
<input wsam:Action="http://bussiness.server/PezzoEJB/removePezzoRequest" message="tns:removePezzo"/>
<output wsam:Action="http://bussiness.server/PezzoEJB/removePezzoResponse" message="tns:removePezzoResponse"/>
</operation>
<operation name="updatePezzo">
<input wsam:Action="http://bussiness.server/PezzoEJB/updatePezzoRequest" message="tns:updatePezzo"/>
<output wsam:Action="http://bussiness.server/PezzoEJB/updatePezzoResponse" message="tns:updatePezzoResponse"/>
</operation>
<operation name="findByCategory">
<input wsam:Action="http://bussiness.server/PezzoEJB/findByCategoryRequest" message="tns:findByCategory"/>
<output wsam:Action="http://bussiness.server/PezzoEJB/findByCategoryResponse" message="tns:findByCategoryResponse"/>
</operation>
</portType>
<binding name="PezzoEJBPortBinding" type="tns:PezzoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PezzoEJBService">
<port name="PezzoEJBPort" binding="tns:PezzoEJBPortBinding">
<soap:address location="http://localhost:8080/PezzoEJBService/PezzoEJB"/>
</port>
</service>
</definitions>